@import "../../shared";

.Board {
    position:relative;
    display:table;
    width:auto;
    height:inherit;
    max-height:1024px;
    box-sizing:border-box;
    transition:left $effect-slide-duration $effect-slide;
    transform:translateZ(0);
    overflow:hidden;
    background-image:linear-gradient(#f9f9f9, #afbbca);

    html.no-hiddenscroll & {
        transition:left $effect-scroll-duration $effect-scroll;
    }

    body:not(.is-ready) & {
        display:none;
    }

    body.is-sharing & {
        filter:blur(2px);
    }

    .red{ background-color: #E69987;}
    .blue{background-color: #92C2E4;}
    &__slide {
        position:relative;
        display:table-cell;
        vertical-align:top;
        table-layout:fixed;
        box-sizing:border-box;
        min-width:inherit;
        max-width:inherit;
        height:inherit;
        padding:0;

        &--middle {
            vertical-align:middle;
        }

        &--bottom {
            vertical-align:bottom;
        }
        &--large {
            padding-left:50px;
            padding-right: 900px;
        }
        &--photolarge{
            padding-left:30px;
            padding-right: 1000px;
        }
        &--infog1{padding-right:600px;}
        &--infog2 {padding-left:800px;
            padding-right:200px;
            
            
}
    }

    &:after {
        content:'';
        display:block;
        clear:both;
    }

}
